body {
	background-color: linen;
	max-width: 85%;
	margin-left: 7.5%;
	font-size: large;
	font-family: serif;
}
h1  { color: #000000; font-size: 24px; font-family: "Times New Roman", serif; line-height: 28px; text-align: center; margin-right: 10%; margin-left: 10% }
h2  { color: #000000; font-size: 20px; font-family: "Times New Roman", serif; line-height: 28px; text-align: left;   margin-right: 10%; margin-left: 10% }
h3  { color: #000000; font-size: 14px; font-family: "Times New Roman", serif; line-height: 18px; text-align: center; margin-right: 10%; margin-left: 10% }
